/Prácticas variadas/SoftwarePagosExamen/target/
/Prácticas variadas/OperacionEclipseDigital/target/
/Prácticas variadas/JocRetxes/target/
/Prácticas variadas/ProyectoConinterfaz/target/
/Tarea BLOC09/GestCourse/target/
/Tarea BLOC09/Gest_Course/target/
